opencv-python
pyautogui
pillow
numpy
pytesseract
pyserial
pyinstaller
pynput
pyusb
requests
mss
pywin32
future
screeninfo
pynput
pywebview #pip install -U pywebview comtypes
# НЕ ставь: win32gui, win32con, atexit (это либо часть pywin32, либо модуль стандартной библиотеки)
