opencv-python
pyautogui
pillow
numpy
pytesseract
pyserial
pyinstaller
pynput
pyusb
requests
mss
pywin32
future
# ?? ?????: win32gui, win32con, atexit (??? ???? ????? pywin32, ???? ?????? ??????????? ??????????)
